h1{
    text-align: center;
}
img{
    height: 300px;
    border-radius: 10px;
    transition: all 200ms;
    transform: scale(90%);
}
img:hover{
    transform: scale(100%);
    filter: brightness(120%);

}
body{
    background-color: rgb(12, 12, 12);
    color: rgb(136, 151, 151);

}
#water01{
    height: 200px;
}
.red:hover {
    color: red;
    font-size: 120%;
}
h1:hover{
    font-size: 36px !important;

}