h1{
    text-align: center;
    font-size: 42px;
    color: red;
}
h2{
    text-align: center;
    font-size: 25px;
    color: rgb(174, 173, 173);
}
p{
    text-align:center;
    font-size: 17px;
    color: rgb(197, 191, 191);
}
img{
    height: 300px;
    border-radius: 10px;
    transition: all 200ms;
    transform: scale(90%);
}
img:hover{
    transform: scale(100%);
    filter: brightness(120%);

}
body{
    background-color: rgb(14, 14, 14);
    color: rgb(136, 151, 151);

}
#water01{
    height: 200px;
}
.red:hover {
    color: red;
    font-size: 120%;

}
a{
    text-decoration:solid;
    color: rgb(141, 121, 9);
    
}
ul{
    text-decoration:solid;
    color: rgb(181, 7, 13);
    
}